* {
    box-sizing: border-box;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  
  .menu-item {
    padding: 0 0px;
    margin: 0px 0px;
    user-select: none;
    cursor: pointer;
    border: 1px "#EEEDE7";
  }
  .menu-item-wrapper {
    border: 1px "#EEEDE7";
  }
  .menu-item-wrapper.active {
    border: 1px "#EEEDE7";
  }
  .menu-item.active {
    border: 1px "#EEEDE7";
  }
  
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
  
  .scroll-menu-arrow--disabled {
    visibility: hidden;
  }
  