.menu-item {
    user-select: none;
    cursor: pointer;
    border: none;
  }
  .menu-item-wrapper.active {
    border: 1px "#EEEDE7";
  }
  .menu-item.active {
    border: 1px "#EEEDE7";
  }
   
  .scroll-menu-arrow {
    padding: 20px;
    cursor: pointer;
  }
  .card{
  }
  
  